---
import Layout from "layouts/Layout.astro";
import { prisma } from "lib/prisma";

type FrontMatter = {
  slug: string;
  title: string;
  series?: string;
  description: string;
  publishedAt: string;
  featured?: boolean;
};
const _posts = await Astro.glob<FrontMatter>("./*.mdx");
const posts = await Promise.all(
  _posts.map(async (p) => {
    const viewsAndLike = await prisma.post.findUnique({
      where: { slug: p.frontmatter.slug },
      select: { views: true, _count: { select: { likes: true } } },
    });

    return {
      title: p.frontmatter.title,
      description: p.frontmatter.description,
      publishedAt: p.frontmatter.publishedAt,
      slug: p.frontmatter.slug,
      views: viewsAndLike?.views ?? 0,
      likes: viewsAndLike?._count.likes ?? 0,
    };
  })
);
---

<Layout title='Blog | Fazza Razaq Amiarso'>
  <main class='layout space-y-6 py-12'>
    <div>
      <h1 class='text-4xl font-bold'>Blog</h1>
      <p class='max-w-[60ch] text-lg'>
        A place where I share my knowldege and learning mostly on Frontend (React), A11Y, and
        sometimes full-stack. Sharing struggles at time.
      </p>
    </div>
    <ul>
      {
        posts.map((p) => {
          return (
            <li class='-ml-4 flex items-start gap-8 rounded-md p-4 hover:bg-gray-100'>
              <p class='basis-16'>
                {Intl.DateTimeFormat("en-US", { day: "numeric", month: "short" }).format(
                  new Date(p.publishedAt)
                )}
              </p>
              <div class='basis-full'>
                <h2 class='font-bold'>
                  <a href={`/blog/${p.slug}`}>{p.title}</a>
                </h2>
                <p class='text-sm'>{p.description}</p>
                <div>{p.views} views</div>
              </div>
            </li>
          );
        })
      }
    </ul>
  </main>
</Layout>
