---
import Layout from "layouts/Layout.astro";

---

<Layout title="Blog | Fazza Razaq Amiarso">
    <main class="layout py-12">
        <h1 class="text-2xl font-bold">About <div class="text-4xl">Fazza Razaq Amiarso</div></h1>
    </main>
</Layout>