---
import Layout from "layouts/Layout.astro";
import { Icon } from "astro-icon";
import { socialLinks } from "common";
import { WEEK_IN_SECONDS } from "utils/constants";

Astro.response.headers.set("Cache-Control", `max-age=0, s-maxage=${WEEK_IN_SECONDS}`);
---

<Layout title='About'>
  <main id='skip-content' class='layout space-y-6 py-12'>
    <div>
      <h1 class='text-2xl font-bold'>
        About <div
          class='bg-gradient-to-tr from-green-300 via-blue-500 to-purple-600 bg-clip-text text-4xl text-transparent'>
          Fazza Razaq Amiarso
        </div>
      </h1>
      <p>Web Developer, Writer, & Open-source contributor</p>
    </div>
    <div class='max-w-[60ch] space-y-6 text-lg'>
      <p>
        I am Fazza. A fullstack web developer and open source contributor from Indonesia . I love
        building things, especially things that are helpful for people.
      </p>
      <p>
        I'm interested in teaching and sharing my knowledge to others. So, they don't have to
        struggle. I help others by writing blog. Sometimes on <a
          href='https://www.frontendmentor.io/profile/fazzaamiarso'
          target='_blank'
          referrerpolicy='strict-origin-when-cross-origin'
          class='font-medium text-primaryDarker underline underline-offset-2 hover:no-underline dark:text-primary'
          >frontendmentor.io</a
        >.
      </p>
      <p>I would like to build a community like Kent C. Dodds in Indonesia.</p>
    </div>
    <div class='space-y-4'>
      <h2>Want to chat/collaborate? Reach me out here!</h2>
      <ul class='flex items-center gap-6'>
        {
          Object.entries(socialLinks).map((s) => {
            return (
              <li>
                <a
                  href={s[1]}
                  target='_blank'
                  referrerpolicy='strict-origin-when-cross-origin'
                  class='external'>
                  <span class='sr-only'>go to fazzaamiarso's {s[0]} account</span>
                  <Icon name={`simple-icons:${s[0]}`} class='w-6' aria-hidden='true' />
                </a>
              </li>
            );
          })
        }
      </ul>
    </div>
  </main>
</Layout>

<style lang='css'></style>
