---
import Layout from "../layouts/Layout.astro";
import globe from "../assets/globe3d-clean.png";

const posts = await Astro.glob("./blog/*.mdx");
const featuredPosts = posts.filter((p) => p.frontmatter.featured);
---

<Layout title='Fazza Razaq Amiarso'>
  <main class=''>
    <div class='layout flex items-center justify-between py-20'>
      <div class='space-y-12'>
        <h1 class='text-5xl font-bold leading-relaxed'>
          <span
            class='bg-gradient-to-tr from-pink-500 via-red-500 to-yellow-500 bg-clip-text text-transparent'
            >Hello! I'm Fazza</span
          >. I build software to create a better world. I love to share and teach while I'm at it.
        </h1>
        <div class='space-x-4'>
          <a href='/blog' class='rounded-sm bg-black p-4 text-sm text-white'>Read the blog</a>
          <a href='/projects' class='rounded-sm p-4 text-sm ring-1 ring-black'>See projects</a>
        </div>
      </div>
      <!-- <img src={globe} alt='' width='400px' class='animate-updown' /> -->
    </div>
    <div class=''>
      <div class='layout space-y-6 py-12'>
        <h2 class='text-2xl font-bold'>Featured Posts</h2>
        <ul class='flex gap-8'>
          {
            featuredPosts.map((p) => {
              return (
                <li class='basis-1/3'>
                  <div class='h-full  rounded-md'>
                    <h3 class='mb-2 text-lg font-semibold'>{p.frontmatter.title}</h3>
                    <p>{p.frontmatter.description}</p>
                  </div>
                </li>
              );
            })
          }
        </ul>
        <a href='/blog' class='inline-block py-2 first-line:font-semibold'>See all post</a>
      </div>
    </div>
    <div class=''>
      <div class='layout py-12'>
        <h2 class='mb-4 text-2xl font-bold'>Featured Projects</h2>
        <ul class='flex -translate-x-6 items-start gap-8'>
          <li class='space-y-2 rounded-lg p-6 hover:bg-gray-100'>
            <div class='aspect-square w-10 rounded-full bg-black ring-1 ring-black ring-offset-4'>
            </div>
            <h3 class='text-lg font-semibold'>Invoys</h3>
            <p class=''>
              About Open source and self-hostable invoice management app built with Next.js. Made to
              be free of cost.
            </p>
          </li>
          <li class='space-y-2 rounded-lg p-6 hover:bg-gray-100'>
            <div class='aspect-square w-10 rounded-full bg-black ring-1 ring-black ring-offset-4'>
            </div>
            <h3 class='text-lg font-semibold'>Invoys</h3>
            <p class=''>
              About Open source and self-hostable invoice management app built with Next.js. Made to
              be free of cost.
            </p>
          </li>
          <li class='space-y-2 rounded-lg p-6 hover:bg-gray-100'>
            <div class='aspect-square w-10 rounded-full bg-black ring-1 ring-black ring-offset-4'>
            </div>
            <h3 class='text-lg font-semibold'>Invoys</h3>
            <p class=''>
              About Open source and self-hostable invoice management app built with Next.js. Made to
              be free of cost.
            </p>
          </li>
        </ul>
         <a href='/projects' class='inline-block py-2 first-line:font-semibold'>See all projects</a>
      </div>
    </div>
  </main>
</Layout>
