---
import { Image } from "@astrojs/image/components";
import clsx from "clsx";
import { navigations } from "common";
import DarkMode from "./DarkMode.astro";
import { MobileNav } from "./Menu";
---

<header class='sticky top-0 z-50 bg-white'>
  <div class='layout flex items-center gap-12 py-4'>
    <a href='/'><Image src={import("assets/logo.png")} format='webp' alt='' class='w-10' /></a>
    <nav class='max-md:hidden'>
      <ul class='flex items-center gap-8'>
        {
          navigations.map((nav) => {
            return (
              <li class={clsx("p-2")}>
                <a href={nav.href} class=''>
                  {nav.name}
                </a>
              </li>
            );
          })
        }
      </ul>
    </nav>
    <DarkMode />
    <MobileNav client:load />
  </div>
</header>
