---
import ProjectCard from "components/ProjectCard.astro";
import Layout from "layouts/Layout.astro";
import { prisma } from "lib/prisma";

type FrontMatter = {
  title: string;
  description: string;
  cover: string;
  publishedAt: string;
  github: string;
  liveSite: string;
  featured?: boolean;
};

const _projects = await Astro.glob<FrontMatter>("./*.mdx");
const projects = await Promise.all(
  _projects.map(async (p) => {
    const viewsAndLike = await prisma.post.findUnique({
      where: { slug: p.url },
      select: { views: true, _count: { select: { likes: true } } },
    });

    return {
      slug: p.url ?? "",
      title: p.frontmatter.title,
      publishedAt: p.frontmatter.publishedAt,
      description: p.frontmatter.description,
      cover: p.frontmatter.cover,
      views: viewsAndLike?.views ?? 0,
      likes: viewsAndLike?._count.likes ?? 0,
    };
  })
);
---

<Layout title='Projects'>
  <main class='layout space-y-6 py-12'>
    <div class='pb-8'>
      <h1 class='mb-2 text-4xl font-bold'>Projects</h1>
      <p class='max-w-[60ch] text-lg'>
        Showcase of my selected projects over the years. Including projects from hackathons,
        open-source, and self-started. In details.
      </p>
    </div>

    <ul class='grid gap-4 sm:grid-cols-2 lg:grid-cols-3'>
      {
        projects.map((p) => {
          return <ProjectCard {...p} />;
        })
      }
    </ul>
  </main>
</Layout>
