---
import Layout from "layouts/Layout.astro";
---

<Layout title='Projects | Fazza Razaq Amiarso'>
  <main class='layout space-y-6 py-12'>
    <div>
      <h1 class='text-4xl font-bold'>Projects</h1>
      <p class='max-w-[60ch] text-lg'>
       
      </p>
    </div>
  </main>
</Layout>
