---
import "@fontsource/inter";
import "@fontsource/inter/variable.css";
import "@fontsource/league-mono";

import Footer from "components/Footer.astro";
import Navbar from "components/header/Navbar.astro";
import SEO from "components/SEO.astro";

export interface Props {
  title: string;
  desc?: string;
  ogImage?: string;
}

const { title, desc, ogImage } = Astro.props;
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <SEO title={title} desc={desc} ogImage={ogImage} />
    <!--  -->
  </head>
  <body class='bg-bg font-inter transition-colors dark:bg-bgDark dark:text-zinc-100'>
    <Navbar />
    <slot />
    <Footer />
    <style is:global>
      html {
        @apply scroll-smooth;
      }

      .layout {
        @apply mx-auto w-10/12 max-w-5xl;
      }

      .link-card {
        @apply before:absolute before:inset-0 before:z-10;
      }
    </style>
  </body>
</html>
